html, body{ height: 100%; }
body > #container { height: auto; min-height: 100%; }

#content {
	margin: auto;
	text-align: center;
	padding-bottom 35px;
	height: 100%;
}

#logo {
	height: 231px;
	margin-top: 45px;
}

img {
	padding-top: 112px;
	height: 92px;
	width: 272px;
}

form {
	width: 571px;
	height: 27px;
	border: 1px solid #cdcdcd;
	margin: 0 auto; /*This is necessary to center the form*/
}

input{
	font-size: 16px, Arial, Sans-Serif;
	color: #bbb;
	padding:0px;
	border: none;
	
}

#nav{
	text-align: right;
	margin-right: 30px
}

#nav li {
	display: inline;
}

#nav ul{
	list-style: none;
}

#footer {
	list-style: none;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	background: #cdcdcd;
}

#footer ul li {
	display: inline;
}

#footer .left-foot li {
	float: left;
	padding-left: 30px;
}

#footer .right-foot li {
	float: right;
	padding-right: 30px;
}